/* Reset */
* {
    border: 0;
    padding: 0;
}

/* Body */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
}
/* Header */
#logo img {
    padding: 10px;
    width: 30%;
}
#nav-container {
    display: flex;
    justify-content: space-between;
}
#links {
    display: flex;
    /* display: inline-block; */
    text-decoration: none;
}
.nav-link {
    text-decoration: none;
    display: inline-block;
    width: 100px;

    margin-right: 2rem;

}

/* Main */
.email-section {
    text-align: center;
}
form {
    padding: 10px;
}
form {
    padding-top: 0px;
    margin-top: 0px;
}
#email {
    margin-bottom: 20px;
    border: 1px solid black;
    width: 300px;
    height: 30px;
    padding-left: 10px;
}
#submit {
    font-weight: 900;
    margin: 20px;
    MARGIN-TOP: 0PX;
    padding: 10px;
    background-color: yellow;
}
#submit:hover {
    background-color: orange;
    cursor: pointer;
}

.container{
    display: flex;

    flex-direction: column;

    margin-top: 2rem;

    justify-content: center;

    align-items: center;

    
}

.features-container {
    max-width: 900px;

    margin: auto;

    margin-bottom: 2rem;
}

.features-container > *:not(:first-child) {
    margin-top: 1rem;

}

.feature-row {
    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 5rem;
}

.feature-row svg {
    width: 150px;

    height: auto;
}

.row{
    display: flex;

    justify-content: space-between;

    width: 1000px;

    padding: 30px;

}

.img{
    width: 100px;

    height: 30px;
}

.video-frame{
    margin-top: 3rem;

    margin-bottom: 2rem;
}
svg{
    color: rgb(229, 163, 11);
}

